HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/data/113myrestprog.mv.db
/data/113myrestprog.trace.db
/data/113restapp_data_base.mv.db
/data/114myrestprog.mv.db
/data/114myrestprog.trace.db
/data/myrestprog.trace.db
